Attestation certificates contain mis-encoded extensions part deux

This issue echoes ticket 00018667, which was opened in early 2017 to report mis-encoded extensions in attestation certificates generated by Yubikey 4 devices.  The extensions that were the subject of that ticket were 1.3.6.1.4.1.41482.3.3 and 1.3.6.1.4.1.41482.3.8. This issue addresses Yubikey 5 devices.

The extensions from an attestation certificate from a Yubikey 5 are as follows:

```
 448   78:     [3] {
 450   76:       SEQUENCE {
 452   17:         SEQUENCE {
 454   10:           OBJECT IDENTIFIER '1 3 6 1 4 1 41482 3 3'
 466    3:           OCTET STRING 05 01 02
         :           }
 471   20:         SEQUENCE {
 473   10:           OBJECT IDENTIFIER '1 3 6 1 4 1 41482 3 7'
 485    6:           OCTET STRING, encapsulates {
 487    4:             INTEGER 9245933
         :             }
         :           }
 493   16:         SEQUENCE {
 495   10:           OBJECT IDENTIFIER '1 3 6 1 4 1 41482 3 8'
 507    2:           OCTET STRING 01 01
         :           }
 511   15:         SEQUENCE {
 513   10:           OBJECT IDENTIFIER '1 3 6 1 4 1 41482 3 9'
 525    1:           OCTET STRING 01
         :           }
         :         }
         :       }
         :     }

```

The .3 and .8 extensions are still mis-encoded and a new .9 extension has been added that is also mis-encoded.

Below are some references to standards to illustrate the issue, which is essentially that the values of the OCTET STRINGs in the extensions need to be DER encoded.  

From RFC 5280 section 4.2:

```
   Each extension includes an OID and an ASN.1 structure. When an
   extension appears in a certificate, the OID appears as the field
   extnID and the corresponding ASN.1 DER encoded structure is the value
   of the octet string extnValue.

```
From RFC 5912 section 2:

 ```
 --
  --  This class definition is used to describe the association of
  --      object identifier and ASN.1 type structure for extensions
  --
  --  All extensions are prefixed with ext-
  --
  --  &id contains the object identifier for the extension
  --  &ExtnType specifies the ASN.1 type structure for the extension
  --  &Critical contains the set of legal values for the critical field.
  --      This is normally {TRUE|FALSE} but in some instances may be
  --      restricted to just one of these values.
  --

  EXTENSION ::= CLASS {
      &id  OBJECT IDENTIFIER UNIQUE,
      &ExtnType,
      &Critical    BOOLEAN DEFAULT {TRUE | FALSE }
  } WITH SYNTAX {
      SYNTAX &ExtnType IDENTIFIED BY &id
      [CRITICALITY &Critical]
  }

  --  Extensions
  --
  --  Used for a sequence of extensions.
  --
  --  The parameter contains the set of legal extensions that can
  --  occur in this sequence.
  --

  Extensions{EXTENSION:ExtensionSet} ::=
      SEQUENCE SIZE (1..MAX) OF Extension{{ExtensionSet}}

  --  Extension
  --
  --  Used for a single extension
  --
  --  The parameter contains the set of legal extensions that can
  --      occur in this extension.
  --
  --  The restriction on the critical field has been commented out
  --  the authors are not completely sure it is correct.
  --  The restriction could be done using custom code rather than
  --  compiler-generated code, however.
  --

  Extension{EXTENSION:ExtensionSet} ::= SEQUENCE {
      extnID      EXTENSION.&id({ExtensionSet}),
      critical    BOOLEAN
  --                     (EXTENSION.&Critical({ExtensionSet}{@extnID}))
                       DEFAULT FALSE,
      extnValue   OCTET STRING (CONTAINING
                  EXTENSION.&ExtnType({ExtensionSet}{@extnID}))
                  --  contains the DER encoding of the ASN.1 value
                  --  corresponding to the extension type identified
                  --  by extnID 
  }
```

The structure from 5912 is in the ASN.1 module we used to generate our encoders and decoders (which are generated by Objective Systems' asn1c product). The older ASN.1 syntax given in RFC 5280 includes a comment that is illustrative as well:

   ```
Extension  ::=  SEQUENCE  {
     extnID      OBJECT IDENTIFIER,
     critical    BOOLEAN DEFAULT FALSE,
     extnValue   OCTET STRING
                 -- contains the DER encoding of an ASN.1 value
                 -- corresponding to the extension type identified
                 -- by extnID
     }
```

In the case of all three of the problematic custom extensions, the value encoded in the OCTET STRING is not valid DER/BER. The easiest fix would be to wrap each inside an OCTET STRING. So each extension would become two bytes longer (a 0x04 tag and a single length value for each). Here's the hex representation of the first extension as it appears in the certificate:

	30 11 06 0A 2B 06 01 04 01 82 C4 0A 03 03 04 03 05 01 02


With an extra OCTET STRING to make the structure valid DER/BER, it'd be encoded this way:

	30 13 06 0A 2B 06 01 04 01 82 C4 0A 03 03 04 05 04 03 05 01 02

Each of the extensions should get the same treatment. Section 2.1 of RFC 6025 may contain some language that may be useful as well. 

If openssl is useful in showing the error, you can try parsing the .7 extension, which is encoded correctly, then the others. Note the .3 extension is parsed as a NULL because the first octet is 0x05, which is the tag for an ASN.1 NULL value (further parsing would fail due to length, however). The other two cannot be parsed.

```
$ openssl asn1parse -in yk5.pem -inform pem -strparse 485
    0:d=0  hl=2 l=   4 prim: INTEGER           :8D14ED
$ openssl asn1parse -in yk5.pem -inform pem -strparse 466
    0:d=0  hl=2 l=   1 prim: NULL              
$ openssl asn1parse -in yk5.pem -inform pem -strparse 495
Can't parse OBJECT type
$ openssl asn1parse -in yk5.pem -inform v -strparse 513
Can't parse OBJECT type

```

A sample certificate is below.

```
-----BEGIN CERTIFICATE-----
MIIDIDCCAgigAwIBAgIQbO2k5kP8USGes+hgBZwEnjANBgkqhkiG9w0BAQsFADAh
MR8wHQYDVQQDDBZZdWJpY28gUElWIEF0dGVzdGF0aW9uMCAXDTE2MDMxNDAwMDAw
MFoYDzIwNTIwNDE3MDAwMDAwWjAlMSMwIQYDVQQDDBpZdWJpS2V5IFBJViBBdHRl
c3RhdGlvbiA5ZTCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBALR/A3dq
ou9B3997+aIlbD/Qpq2wDS+VpEvXmfIGqxYOp+VZz8TBQpcQXOTI7RYxY+AMOy9q
2jgVkRllFwOwLDyxjzkKjDSPhY+rDolAb59wlGWVBCJ2Yla9ztrVGx0kHRDKRyM9
J6235ydav19A2XHai4dr3vuKQH6Oc1A+XfT7VaRx98ovIy4abG4xaX4lR/1d95oe
f/cd75wPxw83ujX/DKchMDHLjcWK2Rix/oYzBZI5nFNuOcUoW/wX9R+lk6UyCW2N
GSliJ/PZo+36GBQO7FMpT1NxEclXTamEaEvCkBsqSM6qX8GebGvtEFG08SshRBm0
OQAFMdEZgWkIsCUCAwEAAaNOMEwwEQYKKwYBBAGCxAoDAwQDBQECMBQGCisGAQQB
gsQKAwcEBgIEAI0U7TAQBgorBgEEAYLECgMIBAIBATAPBgorBgEEAYLECgMJBAEB
MA0GCSqGSIb3DQEBCwUAA4IBAQC5VuOkuB+m4IbRM9O9N422K+iXj/5D9AfAxh+d
WMS6Yt8cFAi7Is9gcLU+RskdJCI2nJWJqE3ZpBV47/Ch3Un5QrIr4+wb4L9IgHTB
V5QTuWRp6VDPPz6mkU58SWIYy9Or26vFu5Jhjzra1Z6S/MGwBWBTox20SgOiR3Xc
YG1AdVnylcp30Q8OvgxgImpVpjUGd49a2QNN2ZdvNULHviq/MqSo2JVKv+PvwxFl
oHiE4gCY8a3KR18ecyhaVm1EVG5cmDnsjw+8ceSVjTq9ca9wLkI1+h91whz+01Rz
PxSACDB6AoSUjqQhkpsZTGV78Kwfu4tuVcNQ6GecYV9jWi0p
-----END CERTIFICATE-----
```

This is a known bug, and no fix is planned as it would break any clients currently using this feature.
Please see https://developers.yubico.com/PIV/Introduction/PIV_attestation.html for information on how the values are formatted.